@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
} */

a[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  /* background-image: url(../images/Bg.jpg); */
  /* background-repeat: repeat-y; */
  overflow-x: hidden;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

.bg-dark {
  background-color: #101621;
}

.Kv_Box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/kv_bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
} 

.Kv_Box_Text {
  margin-top: 10rem;
  line-height: 160%;
  position: relative;
}

.Kv_Box_Text h1 {
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: relative;
}

.Kv_Box_Text h1:after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100%;
  height: 20px;
  background-color: #9929EA;
  z-index: -1;
  mix-blend-mode: multiply;
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    right: -1000px;
  }

  to {
    right: 10px;
  }
}

.btn-solid-pur {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  background: linear-gradient(90deg, #9929EA 0%, #5808FB 100%);
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-solid-pur:hover {
  color: #fff;
} 

.Item_ImgBox {
  left: 0;
  top: -10rem;
  position: absolute;
}

.Item_Img_02 {
  left: 390px;
  top: 580px;
  transition: all 0.5s;
}

.Item_Img_02:hover {
  /* left: 390px;
  top: 600px; */
}

.Item_Text {
  margin-left: 350px;
  margin-top: 170px;
}

.ContBox_01 {
  background-image:url(../images/section_bg.jpg);
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ContBox_Title_01 {
  font-family: "Merriweather","Open Sans","sans-serif";
  font-weight: bold;
  color: #FCBE36;
  margin-bottom: 28px;
  padding-bottom: 5rem;
}

.ContBox_content_01 {
  font-family: "Open Sans";
  color: #555;
  margin-bottom: 40px;
}

.ContBox_02 {
  background-image:url(../images/section_bg_02.jpg);
  background-color: #000;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
}

.ProductImgBox {
  height: 26vw;
}





@media (max-width: 1441px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 769px) {

}


@media (max-width: 427px) {

}