@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Open+Sans:wght@400;600&family=Stardos+Stencil:wght@700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
} */

a[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: 'Stardos Stencil', 'Merriweather','Open Sans','sans-serif';
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #555;
  background-image: url(../images/Bg.jpg);
  background-repeat: repeat-y;
  overflow-x: hidden;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

.bg-dark {
  background-color: #101621;
}

.Kv_Box {
  width: 100%;
  height: 100vh;
  /* min-height: 1000px; */
  min-height: 900px;
  overflow: hidden;
}

.item1-1 {
  animation: item1 2s infinite !important;
}

@keyframes item1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, -15px); }
  100% { transform: translate(0, 0); }
}

.Item_Img_04 {
  position: absolute;
  width: 920px;
  height: 736px;
  left: -150px;
  top: 710px;
  z-index: 3;
  animation: item1 2s infinite;
}

.Item_Text {
  margin-left: 350px;
  margin-top: 170px;
}

.Tag_Title {
  font-family: Stardos Stencil;
  font-weight: normal;
  font-size: 40px;
  line-height: 55px;
  color: #F9AE5D;
}

.Main_Title {
  /* width: 710px; */
  width: 770px;
  height: 220px;
  font-family: Stardos Stencil;
  font-weight: bold;
  font-size: 100px;
  line-height: 110px;
  color: #F9AE5D;
}

.Sec_Title {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
}

.ContBox_01 {
  width: 100%;
  height: auto;
  /* background-color: #FEEED6; */
  padding-top: 200px;
  position: relative;
  z-index: 2;
}

.ContBox_Title_01 {
  font-family: "Merriweather","Open Sans","sans-serif";
  font-weight: bold;
  color: #A7231A;
  margin-bottom: 28px;
}

.ContBox_content_01 {
  font-family: "Open Sans";
  color: #555;
  margin-bottom: 40px;
}

.ContBox_02 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  padding-top: 200px;
}

.ContBox_Title_02 {
  font-family: "Merriweather","Open Sans","sans-serif";
  font-weight: bold;
  color: #FEEED6;
  margin-bottom: 30px;
}

.Prodcut_Box {
  position: relative;
  padding-bottom: 100px;
}

.Prodcut_ItemBox {
  position: relative;
  margin-bottom: 20px;
}

.Prodcut_Item {
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  border: 0;
  height: 360px;
  padding: 40px;
}

.Prodcut_Item_02 {
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  border: 0;
  height: 360px;
  padding: 10px;
}

@media (max-width: 1441px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 769px) {

}


@media (max-width: 427px) {

}